<div class="col-span-12 p-5">
  <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5 box">
    <div class="flex flex-1 px-5 items-center justify-center flex-col gap-28">
      <% if device.access_token.present? %>
        <div id="access-token-hint" class="font-medium access-token-hint"><%= t('devices.show.access_token_is_present') %></div>
        <%= button_to device_access_token_path(device), class: 'btn btn-warning inline-block my-5' do %>
          <%= icon('fa', 'sync') %>
          <%= t('devices.show.reset_access_token') %>
        <% end %>
      <% else %>
        <div id="access-token-hint" class="font-medium"><%= t('devices.show.access_token_is_not_present') %></div>
        <%= button_to device_access_token_path(device), class: 'btn btn-primary inline-block my-5' do %>
          <%= icon('fa', 'plus') %>
          <%= t('devices.show.create_access_token') %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
      <p class="py-5">
        <%= t('devices.show.request_hint') %>
      </p>
      <div class="flex flex-row py-5 -mx-5">
        <div class="flex px-5 flex-col">
          <span>URL:</span>
          <span>Method:</span>
          <span>Content-Type:</span>
          <span>Authorization:</span>
          <span>Body:</span>
        </div>
        <div class="flex flex-col">
          <span class="text-slate-500"><%= api_v1_sensor_measurements_url %></span>
          <span class="text-slate-500">POST</span>
          <span class="text-slate-500">application/json</span>
          <span class="text-slate-500">Bearer ACCESS_TOKEN</span>
          <span class="text-slate-500">
            <pre>
              {
                "values": {
                  <% device.sensors.each do |sensor| %>
                    <%= "\"#{sensor.sensor_type}\":#{rand(30)}," %>
                  <% end %>
                }
              }
            </pre>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
