<%= link_to new_device_sensor_path(device), class: 'btn btn-outline-secondary mb-5', data: { turbo_frame: dom_id(Sensor.new) } do %>
  <%= t('new_title', model: Sensor.model_name.human) %>
<% end %>
<%= turbo_frame_tag Sensor.new %>

<% if sensor_to_show.present? %>
  <div class="col-span-12">
    <div class="grid grid-cols-1 2xl:grid-cols-7 gap-6 p-5">
      <div class="2xl:col-span-2">
        <% sensors.where.not(id: sensor_to_show.id).each do |sensor| %>
          <div class="grid grid-cols-2 gap-6 mb-5">
            <div class="col-span-2 sm:col-span-1 2xl:col-span-2 box dark:bg-darkmode-500 p-5">
              <%= render 'sensors/chart', sensor: sensor, container_class: 'h-[50px]', show_details: false %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="2xl:col-span-5 w-full">
        <div class="box dark:bg-darkmode-500 p-5">
          <%= render 'sensors/chart', sensor: sensor_to_show, container_class: 'h-[400px]', show_details: true %>
        </div>
      </div>
    </div>
  </div>
<% end %>
