<% content_for :title, @device.name %>
<%= turbo_stream_from "sensor-show-page", current_user.id %>
<div class="intro-y col-span-12">
  <div class="intro-y box px-5">
    <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
      <div class="flex flex-1 p-2 items-center justify-center lg:justify-start">
        <div class="ml-5">
          <div class="w-24 sm:w-40 sm:whitespace-normal font-medium text-lg"><%= @device.name %></div>
          <div class="text-slate-500 flex flex-col">
            <%= @device.description %>
            <i><%= l(@device.created_at, format: :short) %></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
      <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
        <li class="nav-item">
          <a href="javascript:;" class="nav-link py-4 active" data-tw-target="#sensors-tab" role="tab"><%= t('.sensors_tab') %></a>
        </li>
        <li class="nav-item">
          <a href="javascript:;" class="nav-link py-4" data-tw-target="#api-info-tab" role="tab"><%= t('.api_info_tab') %></a>
        </li>
      </ul>
      <div class="flex justify-between gap-1 py-2">
        <%= link_to t('edit_title', model: Device.model_name.human), edit_device_path(@device), class: 'btn btn-outline-secondary whitespace-nowrap' %>
        <%= button_to @device, method: :delete, form: { data: { turbo_confirm: t('confirm_delete') } }, class: 'btn btn-outline-secondary text-danger' do %>
          <%= t('delete') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="intro-y col-span-12 tab-content">
  <div id="api-info-tab" class="tab-pane" role="tabpanel">
    <%= render 'api_info', device: @device %>
  </div>

  <div id="sensors-tab" class="tab-pane active" role="tabpanel">
    <%= render 'sensors_tab', device: @device, sensors: @sensors, sensor_to_show: @sensor_to_show %>
  </div>
</div>
