<div class="intro-y col-span-12">
  <div class="intro-y box px-5">
    <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
      <div class="flex flex-1 px-2 items-center justify-center lg:justify-start">
        <div class="ml-5">
          <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg"><%= @device.name %></div>
          <div class="text-slate-500 flex flex-col">
            <%= @device.description %>
            <i><%= l(@device.created_at, format: :short) %></i>
          </div>
        </div>
      </div>
      <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
        <div class="flex flex-col mt-4">
          <% @sensors.each do |sensor| %>
            <div>
              <%= icon('fa', 'check', color: sensor.sensor_data.present? ? 'green' : 'red', class: 'mr-2') %>
              <%= sensor.to_s %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
      <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
        <li class="nav-item">
          <a href="javascript:;" class="nav-link py-4 active" data-tw-target="#sensors-tab" role="tab"><%= t('.sensors_tab') %></a>
        </li>
        <li class="nav-item">
          <a href="javascript:;" class="nav-link py-4" data-tw-target="#api-info-tab" role="tab"><%= t('.api_info_tab') %></a>
        </li>
      </ul>
      <div class="flex items-center">
        <%= link_to @device, data: { turbo: true, turbo_method: :delete, turbo_confirm: t('confirm_delete') }, class: 'btn btn-outline-secondary text-danger mr-5' do %>
          <%= t('delete') %>
        <% end %>
        <%= link_to t('edit_title', model: Device.model_name.human), edit_device_path(@device), class: 'btn btn-outline-secondary whitespace-nowrap' %>
      </div>
    </div>
  </div>
</div>

<div class="intro-y col-span-12 box tab-content px-5 pt-5">
  <div id="api-info-tab" class="tab-pane" role="tabpanel">
    <%= render 'api_info', device: @device %>
  </div>

  <div id="sensors-tab" class="tab-pane active" role="tabpanel">
    <%= link_to new_device_sensor_path(@device), class: 'btn btn-outline-secondary mb-5', data: { turbo_frame: dom_id(Sensor.new) } do %>
      <%= t('new_title', model: Sensor.model_name.human) %>
    <% end %>
    <%= turbo_frame_tag Sensor.new %>
    <%= turbo_frame_tag 'edit_sensor' %>

    <div class="col-span-12">
      <div class="grid grid-cols-1 2xl:grid-cols-7 gap-6 p-5">
        <div class="2xl:col-span-2">
          <%= render partial: 'sensors/chart', collection: @sensors.where.not(id: @sensor_to_show.id), as: :sensor %>
        </div>

        <div class="2xl:col-span-5 w-full h-full">
          <div class="box dark:bg-darkmode-500 p-5 h-max">
            <div class="flex">
              <div class="font-medium"><%= @sensor_to_show.to_s %></div>
              <div class="ml-auto">
                <%= link_to edit_sensor_path(@sensor_to_show), data: { turbo_frame: 'edit_sensor' }  do %>
                  <%= icon('fa', 'cog', class: 'text-slate-500') %>
                <% end %>
              </div>
            </div>
            <% if @sensor_to_show.sensor_data.present? %>
              <div class="" data-controller="sensor-chart" data-sensor-id=<%= @sensor_to_show.id %> data-show-details="true">
                <div class="flex justify-end">
                  <button class="btn btn-sm tns-fadeOut" data-sensor-chart-target="resetButton" data-action="click->sensor-chart#resetChartZoom">
                    <%= icon('fas', 'sync-alt', class: 'mr-2') %>
                    Reset Zoom
                  </button>
                </div>
                <canvas id=<%= "sensor-#{@sensor_to_show.id}" %> data-sensor-chart-target="canvas">
                  <p>Oops, Something went wrong here, sorry!</p>
                </canvas>
              </div>
            <% else %>
              <p class="text-center"><i><%= t('sensors.no_sensor_data') %></i></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
