<% if layout == 'dashboard' %>
  <div class="col-span-12 2xl:col-span-12" data-controller="sensor-chart" data-sensor-id=<%= sensor.id %> data-show-details="false">
    <div class="grid grid-cols-12 gap-6">
      <% sensor.supported_value_types.each do |value_type| %>
        <div class="col-span-12 sm:col-span-6 lg:col-span-4 mt-8">
          <div class="intro-y flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5"><%= t(value_type, scope: 'sensors.value_types') %></h2>
            <%= link_to t('details'), sensor, class: 'ml-auto text-primary truncate' %>
          </div>
          <div class="intro-y box p-5 mt-5">
            <div class="mt-3">
              <div class="h-[213px]">
                <canvas aria-label="<%= "sensor-#{sensor.id}-#{value_type}" %>" role="img" id="<%= "sensor-#{sensor.id}-#{value_type}" %>" width="200" class="sensor-chart-canvas">
                  <p>Oops, Something went wrong here, sorry!</p>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-span-12" data-controller="sensor-chart" data-sensor-id=<%= @sensor.id %> data-show-details="true">
    <div class="grid grid-cols-1 2xl:grid-cols-7 gap-6 p-5">
      <div class="2xl:col-span-2">
        <div class="grid grid-cols-2 gap-6">

          <% sensor.supported_value_types.each_with_index do |value_type, index| %>
            <% next if index == 0 %>
            <div class="col-span-2 sm:col-span-1 2xl:col-span-2 box dark:bg-darkmode-500 p-5">
              <div class="font-medium"><%= value_type %></div>
              <div class="flex items-center mt-1 sm:mt-0">
                <div class="w-5/6 overflow-auto">
                  <div class="h-[51px]">
                    <canvas id="<%= "sensor-#{sensor.id}-#{value_type}" %>">
                      <p>Oops, Something went wrong here, sorry!</p>
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="2xl:col-span-5 w-full">
        <div class="mt-8">
          <div class="h-[420px]">
            <canvas id="<%= "sensor-#{sensor.id}-#{sensor.supported_value_types.first}" %>">
              <p>Oops, Something went wrong here, sorry!</p>
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
