<%= content_tag :div, data: { controller: 'sensor-chart', sensor_id: sensor.id, show_details: show_details } do %>
  <div class="mb-5">
    <%= turbo_frame_tag sensor %>
  </div>
  <div class="flex mb-5">
    <div class="font-medium">
      <%= link_to sensor.to_s, device_path(sensor&.device, sensor_to_show: sensor.id) %>
    </div>
    <div class="ml-auto text-end">
      <button class="btn btn-sm mr-2 fade-out" data-sensor-chart-target="resetButton" data-action="click->sensor-chart#resetChartZoom">
        <%= icon('fas', 'sync-alt', class: 'mr-2') %>
        Reset Zoom
      </button>
      <%= link_to edit_sensor_path(sensor), data: { turbo_frame: dom_id(sensor) }  do %>
        <%= icon('fa', 'cog', class: 'text-slate-500') %>
      <% end %>
    </div>
  </div>
  <div class="flex items-center mt-1 sm:mt-0">
    <div class="w-full overflow-auto">
      <% if sensor.sensor_data.any? %>
        <%= content_tag :div, id: "sensor-container-#{sensor.id}", class: container_class do %>
          <%= content_tag :canvas, '', id: "sensor-#{sensor.id}", data: { sensor_chart_target: 'canvas' } %>
        <% end %>
      <% else %>
        <p class="text-center"><i><%= t('sensors.no_sensor_data') %></i></p>
      <% end %>
    </div>
  </div>
<% end %>
