<div class="col-span-12" data-controller="dom-manipulations form-template" data-dom-manipulations-target="element">
  <%= content_tag :div,  class: 'hidden', data: { form_template_target: 'template' } do %>
    <%= render 'alarm_rules/form_template', value_suffix: sensor.value_suffix %>
  <% end %>

  <div class="intro-y box p-5">
    <%= form_with(model: model) do |form| %>
      <%= render partial: 'layouts/error_messages', locals: { resource: sensor } if sensor.errors.any? %>

      <%= form.label :sensor_type %>
      <%= form.select :sensor_type, sensor_types_for_select, {}, class: 'tom-select w-full' %>

      <div class="mt-5">
        <%= form.label :chart_type %>
        <%= form.select :chart_type, chart_types_for_select, {}, class: 'tom-select w-full' %>
      </div>

      <div class="form-switch mt-5">
        <%= form.label :show_in_dashboard, class: 'form-check-label ml-0' %>
        <%= form.check_box :show_in_dashboard, class: 'form-check-input mr-0 ml-3' %>
      </div>

      <%= form.fields_for :alarm_rules do |alarm_rules_form| %>
        <div class="col-11 mt-4" data-controller="dom-manipulations" data-dom-manipulations-target="element">
          <div class="flex gap-5 whitespace-nowrap">
            <div class="input-group">
              <label class="input-group-text"><%= t('alarm_rules.rule_type_hint') %></label>
              <%= alarm_rules_form.select :rule_type, alarm_rule_types_for_select, {}, class: 'tom-select' %>
            </div>

            <div class="input-group">
              <%= alarm_rules_form.text_field :value, class: 'form-control', type: 'number' %>
              <label class="input-group-text"><%= sensor.value_suffix %></label>
            </div>

            <%= alarm_rules_form.hidden_field :_destroy, data: { dom_manipulations_target: 'destroyField' } %>
            <button type="button" class="btn btn-outline-secondary" data-action="click->dom-manipulations#setDestroyField click->dom-manipulations#hideElement">
              <%= icon('fa', 'trash-alt', class: 'text-danger') %>
            </button>
          </div>
        </div>
      <% end %>
      <%= content_tag :div, '', data: { form_template_target: 'templateOutput' } %>

      <div class="flex mt-5">
        <% if sensor.persisted? %>
          <button type="button" class="btn" data-action="click->form-template#addTemplate">
            <%= icon('fa', 'plus', class: 'mr-2') %>
            <%= t('new_title', model: AlarmRule.model_name.human) %>
          </button>
        <% end %>
        <div class="ml-auto">
          <%= link_to t('cancel'), 'javascript:;', class: 'btn btn-outline-secondary mr-1', data: { action: 'click->dom-manipulations#removeElement' } %>
          <%= form.submit t('save'), class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
