<div class="col-span-12">
  <div class="overflow-x-auto">
    <div class="mr-auto ">
      <%= link_to t('new_title', model: Sensor.model_name.human), new_sensor_path, class: 'btn btn-primary w-50 mr-1 mb-2' %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="whitespace-nowrap">#</th>
          <th class="whitespace-nowrap"><%= Sensor.human_attribute_name(:name) %></th>
          <th class="whitespace-nowrap"><%= Sensor.human_attribute_name(:description) %></th>
          <th class="whitespace-nowrap"><%= Sensor.human_attribute_name(:sensor_type) %></th>
        </tr>
      </thead>
      <tbody>
        <% @sensors.each do |sensor| %>
          <tr data-controller="clickable-element"
              data-action="click->clickable-element#open_link"
              data-url="<%= sensor_path(sensor) %>">
            <td><%= sensor.id %></td>
            <td><%= sensor.name %></td>
            <td><%= sensor.description %></td>
            <td><%= sensor.sensor_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
