<div class="mobile-menu md:hidden" data-controller="nav-bar" data-nav-bar-target="navBar">
  <div class="mobile-menu-bar flex justify-end mr-5 d-turbo-native-hidden">
    <a class="mobile-menu-toggler" data-action="click->nav-bar#toggle">
      <%= icon('fa', 'bars', class: 'text-white') %>
    </a>
  </div>
  <div class="scrollable">
    <ul class="scrollable__content py-2">
      <li>
        <%= link_to root_path, class: 'menu' do %>
          <div class="menu__icon"><%= icon('fa', 'home') %></div>
          <div class="menu__title">Dashboard</div>
        <% end %>
      </li>

      <li>
        <%= link_to devices_path, class: 'menu', data: { action: 'click->nav-bar#toggle' } do %>
          <div class="menu__icon"><%= icon('fa', 'tablet-screen-button') %></div>
          <div class="menu__title"><%= Device.model_name.human(count: 2) %></div>
        <% end %>
      </li>

      <li>
        <%= link_to '#', class: 'menu', data: { controller: 'native-bridge', native_bridge_message_value: 'signOut', action: 'click->native-bridge#postMessage' } do %>
          <div class="menu__icon"><%= icon('fa', 'right-from-bracket') %></div>
          <div class="menu__title"><%= t('devise.logout') %></div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
