<nav class="side-nav">
  <%= link_to root_path, class: 'intro-x flex items-center pl-5 pt-4' do %>
    <span class="hidden xl:block text-white text-lg ml-3">SensorDashboard</span>
  <% end %>
  <div class="side-nav__devider my-6"></div>
  <ul>
    <li>
      <%= link_to dashboard_path, class: "side-menu #{menu_link_active_class(dashboard_path)}" do %>
        <div class="side-menu__icon"><%= icon('fa', 'home') %></div>
        <div class="side-menu__title">Dashboard</div>
      <% end %>
    </li>

    <li>
      <%= link_to devices_path, class: "side-menu #{menu_link_active_class(devices_path)}" do %>
        <div class="side-menu__icon"><%= icon('fa', 'tablet-screen-button') %></div>
        <div class="side-menu__title"><%= Device.model_name.human(count: 2) %></div>
      <% end %>
    </li>
  </ul>
</nav>
