<!DOCTYPE html>
<html>
  <head>
    <title>SensorDashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon-96.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="py-5">
    <% if user_signed_in? %>
      <%= render 'layouts/mobile_menu' %>
      <div class="flex mt-[4.7rem] md:mt-0">
        <%= render 'layouts/side_menu' %>
        <div class="content">
          <%= render 'layouts/top_bar' %>
          <%= render 'layouts/flash_messages', flash: flash %>
          <div class="grid grid-cols-12 gap-6 mt-5 px-5">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
