<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title).present? ? content_for(:title) : 'SensorDashboard' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= turbo_native_app? ? 'turbo-native' : 'desktop' %>">
    <%= turbo_frame_tag 'remote_modal' %>
    <% if !user_signed_in? %>
      <%= render 'layouts/flash_messages', flash: flash %>
      <%= yield %>
    <% elsif turbo_native_app? %>
      <%= render 'layouts/mobile_menu' %>
      <div class="content">
        <%= render 'layouts/flash_messages', flash: flash %>
        <div id="main-container" class="grid grid-cols-12 gap-6">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render 'layouts/mobile_menu' %>
      <div class="flex md:mt-0 mt-[4.7rem]">
        <%= render 'layouts/side_menu' %>
        <div class="content">
          <%= render 'layouts/top_bar' %>
          <%= render 'layouts/flash_messages', flash: flash %>
          <div id="main-container" class="grid grid-cols-12 gap-6 mt-5 px-5">
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
