<!DOCTYPE html>
<html>
  <head>
    <title>SensorDashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="py-5">
    <% if user_signed_in? %>
      <%= render 'layouts/mobile_menu' if not_a_turbo_native_request? %>
      <%= content_tag :div, '', class: "flex md:mt-0 #{'mt-[4.7rem]' if not_a_turbo_native_request?}" do %>
        <%= render 'layouts/side_menu' if not_a_turbo_native_request? %>
        <div class="content">
          <%= render 'layouts/top_bar' %>
          <%= render 'layouts/flash_messages', flash: flash %>
          <div class="grid grid-cols-12 gap-6 mt-5 px-5">
            <%= yield %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render 'layouts/flash_messages', flash: flash %>
      <%= yield %>
    <% end %>
  </body>
</html>
