<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title).present? ? content_for(:title) : 'SensorDashboard' %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="turbo-native">
    <%= turbo_frame_tag 'remote_modal' %>
    <%= render 'layouts/mobile_menu' %>
    <%= render 'layouts/flash_messages', flash: flash %>

    <div class="content">
      <div id="main-container" class="grid grid-cols-12 gap-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
