<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title).present? ? content_for(:title) : 'SensorDashboard' %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.png', type: 'image/png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="desktop">
    <%= turbo_frame_tag 'remote_modal' %>
    <%= render 'layouts/flash_messages', flash: flash %>

    <% if user_signed_in? %>
      <%= render 'layouts/mobile_menu' %>
      <div class="flex md:mt-0 mt-[4.7rem]">
        <%= render 'layouts/side_menu' %>
        <div class="content">
          <%= render 'layouts/top_bar' %>
          <div id="main-container" class="grid grid-cols-12 gap-6 mt-5 px-5">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
